@use "sass:color";
@use "../variables" as *;

.error-content {
  color: $text-color;
  background-color: $secondary-color;
  min-height: calc(100vh - 300px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 2rem;
  position: relative;

  .error-group {
    position: relative;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  h2 {
    font-size: 12rem;
    color: $primary-color;
    font-weight: 900;
    text-shadow: 4px 4px 0px color.scale($primary-color, $lightness: -20%);
    letter-spacing: 0.2em;
    font-family: "Impact", sans-serif;
    display: flex;
    gap: 0.6rem;
    transform: skew(-5deg);
    margin: 0;
    z-index: 2;

    span {
      display: inline-block;
      width: 120px;
      text-align: center;
    }

    span:nth-child(1) {
      animation: number-bounce 2s ease-in-out infinite;
    }
    span:nth-child(2) {
      animation: number-bounce 2s ease-in-out infinite;
      animation-delay: 0.1s;
    }
    span:nth-child(3) {
      animation: number-bounce 2s ease-in-out infinite;
      animation-delay: 0.2s;
    }
  }

  .shadow-container {
    position: absolute;
    display: flex;
    gap: 0.6rem;
    justify-content: center;
    width: 100%;
    bottom: -30px;

    .shadow {
      width: 120px;
      height: 30px;
      background: white;
      border-radius: 50%;
      filter: blur(15px);
      opacity: 0.5;

      &:nth-child(1) {
        animation: shadow-bounce 2s ease-in-out infinite;
      }
      &:nth-child(2) {
        animation: shadow-bounce 2s ease-in-out infinite;
        animation-delay: 0.1s;
      }
      &:nth-child(3) {
        animation: shadow-bounce 2s ease-in-out infinite;
        animation-delay: 0.2s;
      }
    }
  }

  p {
    font-size: 1.5rem;
    margin-bottom: 2rem;
    color: #fff;
    position: relative;
    z-index: 1;
  }
}

@keyframes number-bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-40px);
  }
}

@keyframes shadow-bounce {
  0%,
  100% {
    transform: scale(1);
    opacity: 0.5;
  }
  50% {
    transform: scale(0.8);
    opacity: 0.2;
  }
}
