@use "../variables" as *;
@use "sass:color";

%button-base {
  padding: 8px;
  font-size: 1.1rem;
  font-weight: bold;
  border-color: $primary-color;
  background-color: $primary-color;
  color: $white;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: color.adjust($primary-color, $lightness: -10%);
  }
}

.sign-in-button {
  @extend %button-base;
  display: block;
  width: 100%;
  margin-top: 1rem;
}

.transaction-button {
  @extend %button-base;
  display: block;
  width: 100%;
  margin-top: 1rem;
  border-radius: 4px;
  text-decoration: none;
  text-align: center;

  @media (min-width: 720px) {
    width: 200px;
  }
}

.edit-button {
  @extend %button-base;
  padding: 10px;
  font-size: 0.9rem;
}
