@use "../variables" as *;

.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px;

  a {
    font-weight: bold;
    color: $text-color;

    &.router-link-exact-active {
      color: $primary-color;
    }
  }

  &-item {
    text-decoration: none;
    margin-right: 0.5rem;

    &:hover {
      text-decoration: underline;
    }
  }
}
