@use "../variables" as *;

.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px;

  @media screen and (max-width: 720px) {
    padding: 5px 10px;
    flex-direction: column;
    gap: 5px;
  }
}

.main-nav-logo {
  display: flex;
  align-items: center;

  &-image {
    max-width: 200px;

    @media screen and (max-width: 720px) {
      max-width: 150px;
    }
  }
}

.main-nav-item {
  margin-right: 0.5rem;
  text-align: center;
  white-space: nowrap;
  font-weight: bold;
  text-decoration: none;
  margin-left: 5px;

  &:hover {
    text-decoration: underline;
  }

  &:visited {
    color: $black;
  }

  @media screen and (max-width: 720px) {
    margin: 0.35rem;
    font-size: 1rem;
    width: 30%;
  }
}

.main-nav-links {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;

  @media screen and (max-width: 720px) {
    flex-direction: row;
    width: 100%;
  }
}
