@use "sass:color";

$primary-color: #00bc77;
$secondary-color: #12002b;
$text-color: #2c3e50;
$white: #fff;
$black: #000;

@mixin mobile {
  @media (max-width: 720px) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: 920px) {
    @content;
  }
}
